


 /*style for teacher table*/

 .teacher-table tr th{
   height: 100px;
   width: 100px;
   padding: 0;
   maargin:0;
   font-size: 18px;

 }
 .teacher-table tr td{
   height: 50px;
   padding-left: 10px;
   maargin:0;
   font-size: 15px;
   
   

 }
 .teacher-table td:nth-child(1){
  font-size: 17px;
  font-weight: bold;
 }



































 *{
  margin:0;
  padding:0;
 }
 body {
    background: url(../image/bg_main.gif) repeat-y scroll center top rgba(0, 0, 0, 0);
 }
 a{
  text-decoration:none!important;
  color:#000;
 }
  .contain{
    width:960px!important;
  }

  .navbar-inverse {
    background:none!important;
    border: none!important;
}

 .menutop{
  height:30px;
  background-color:black;
  color:#fff;
  font-size: 10px;
 }
.menutopleft input{
  width: 295px;
  height: 25px;
  margin-left: 406px;
  color:#000;
}

/************************************SLIDER CSS START************************************/
.slide {
  height:230px;
}

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }
.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



  /********************************************SLIDER CSS END*****************************************/


  
.site-info{
  left: 20px;
    margin-bottom: 0;
    padding: 10px;
    position: absolute;
    margin-left:338px;
    margin-top: 0px;
    top: 55px;
    z-index: 100
}
.slide img{
  height:220px;
}

#logo img{
  width: 83px;
  height: 77px;
  position: absolute;
  margin-left: -45px;
  
}
#site-name{
  font-size: 50px;
  line-height: 63px;
  color: #fff;
  font-style: bold;
  font-weight: 900;
  font-family: kalpurushregular;
  margin-left: -50px;
    margin-top: 94px;
    text-shadow: 4px 3px 4px;
}

 ul li:hover>ul{
  display:block;

}
.dropdown-menu>li>a,.dropdown-menu>li>a span {
  font-size: 13px;
  font-weight: 700;
}
.list-inline>li {
    display: inline-block;
    padding-right: 20px;
    }

.notice-board{
  background:url(../image/bg_notice_board.png);
  height:500px;
  width:300px;
  background-repeat:no-repeat;
  margin-left: 20px;
    margin-top: 40px;
}
.dropdown-menu-right {
right: 0;
left: auto;
}

.nested-dropdown1,.nested-dropdown2,.nested-dropdown3,.nested-dropdown4,.nested-dropdown5,.nested-dropdown6,.nested-dropdown7{
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}
.nested-dropdown2{
  top:45px;
}
.nested-dropdown3{
  top:90px;
}
.nested-dropdown4{
  top:135px;
}
.nested-dropdown5{
  top:180px;
}
.nested-dropdown6{
  top:225px;
}
.nested-dropdown7{
  top:270px;
}

.btn{
  font-size: 13px;
  font-weight: 700;
  background:none;
}
.menucontent{
  background:#EDEBED;
  height: 40px;
}
.btn-danger,.btn-info,.btn-success,.btn-warning,.btn-primary{
  border:none;
  color:#000;
}
.btn-danger.active{
  background:#c9302c;
  color:#fff;
}

.footer{
  background:url('../image/footer.png');

  margin-top: 1000px;
  height:50px;
  width: 100%;
}

.foter-content{
  font-size: 14px;  
  margin-top: 30px;
  text-align: center;
        
}
.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
     border-top-right-radius: 4px; 
     border-bottom-right-radius: 4px; 
}

/*======================css for department section=====================*/

body{
  font-family:  "Roboto Condensed", Arial, Helvetica, sans-serif;
}

/*============================start Home page main containt CSS ======================*/


/*=============start Notice Board CSS ===================*/

.home-notice-board{
  width: 100%;
  padding-bottom: 16px;
  background: #EFEFEF;
  margin-top: 24px;
}
.home-notice-board span{
  font-size: 18px;
  font-weight: 600;
  padding-left: 28px;
}
.notic-containt{
  margin-left: 140px;
  line-height: 30px;
  margin-top: -24px;
}
.notic-containt i{
  color: #CCE5A2;
  font-size: 13px;
}
.notic-containt a{
  font-size: 14px;
  color: #666666;
  border-bottom: 1px solid #666666;
  border-bottom-style: dotted;
}
.notic-containt a:hover{
  border-bottom: 1px solid #666666;
}
.home-notice-board button{
  margin-top: -24px;
  margin-right: 30px;
  float: right;
  width: 80px;
  height: 30px;
  background: #9EC53B;
  color: #fff;
  border:none;
}

/*=============End Notice Board CSS ===================*/

/*=============start marquee notic ======================*/

.main-content{
  width: 100%;
  /*background: #EFEFEF;*/
  margin-top: 30px;
}
.title-notice{
  float: left;
  font-size: 12px;
  padding-top: 21px;
  padding-left: 10px;
  color: #ff2f1f;
  font-weight: 600;
}
.latest-nws li{
  display: inline-block;
  font-size: 13px;
  margin-left: 80px;
  padding-top: 21px;
}
.latest-nws a{
  color: #47BD30;
  padding-bottom: 20px;
}
.latest-nws a:hover{
  color: #089BFF;
}
/*=============close marquee notic ======================*/

/*=============start introduction ======================*/
.introduction-title{
  width: 100%;
  margin-top: 24px;
  background:#313730;
  color:#fff;
}
.introduction-title h2{
  font-size: 16px;
  padding: 10px;
}
.introduction-cpi{
  text-align: justify;
}
/*=============close introduction ======================*/

.notice-result{
  border:3px solid #000;
  width: 338px;
}
.notice-result h2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding: 10px 10px;
  border-bottom: 1px solid #000;
  margin-top: 1px;
}
.notice-result img{
  width: 115px;
  height: 110px;
  margin-top: -10px;
}
.result-notice-containt{
  float: right;
  font-size: 16px;
  margin-right: 0;
  line-height: 24px;
}
.result-notice-containt a:hover{
  color: #0081ef;
}
.result-notice-containt-archive a:hover{
  color: #0081ef;
}
.digital-containt a:hover{
  color: #0081ef;
}
.notice-result span{
  font-size: 16px;
}

/*================= result archive ===================*/

.notice-result-archive{
  border:3px solid #000;
  width: 338px;
  margin-left: 18px;
}
.notice-result-archive h2 {
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding: 10px 10px;
  border-bottom: 1px solid #000;
  margin-top: 1px;
}
.notice-result-archive img{
  width: 115px;
  height: 110px;
  margin-top: -10px;
}
.result-notice-containt-archive{
    float: right;
    font-size: 16px;
    margin-top: 5px;
    margin-right: 60px;
    line-height: 24px;
}
/*===========css for routine =======*/
.notice-result-routine{
  margin-top: 14px;
  margin-left: 0;
}
/*======= css for digital contiant========*/
.digital-containt{
  border:3px solid #000;
  width: 338px;
  margin-top: 14px;
  padding-bottom: 20px;

}
.digital-containt h2{
  font-size: 16px;
  font-weight: 600;
  color: #000;
  padding: 10px 10px;
  border-bottom: 1px solid #000;
  margin-top: 1px;
}
.digital-containt-left{
  margin-left: 10px;
}
.digital-containt-right{
  float: right;
  margin-right: 10px;
  margin-top: -80px;
}
/*===========css for syllabus =========*/

.notice-result-syllabus{
  margin-top: 14px;
}
.studen-data-base{
  margin-left: 18px;
}
#index-message-principal .col-md-3{
  padding-left: 30px;
}

 /************************************************************INDEX.HTML CSS END****************************/
/*==============css for #computer section======================*/
 .clg-pic img{
  /*margin-left: 148px;*/
  margin-top: 91px; 
}
/*====================css for.department-contant===============*/
.department-contant h3{
/*color: #000;*/
}
 .prl-block-title {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 3px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px 0;
    text-transform: uppercase;
    margin-bottom: 15px;
    color: #000066;
}
/*==============css for #computer .In a Brief====================*/
/*==============css for #computer .Syllabus====================*/
/*==============css for #computer .Teachers-Profile=============*/
 .collage-logo img{
  width: 80px;
  height: 76px;
  /*float: left;*/
  /*margin-left: 70px;*/
  margin-top: 80px;
}
 .bteb-logo img{
     width: 80px;
    height: 76px;
  float: right;
  /*margin-right: 105px;*/
  margin-top: -79px;
}
.banner-contant{
  margin-top: -117px;
}
.banner-contant h4{
  text-align: center;
  font-size: 15px;
}
/*======teacher list============*/
table{
  border: 1px solid #333;
  width: 600px;
  height: 600px;
  border-collapse: collapse;
  margin: 10px;
  margin-top: 30px;

}
th,td{
  border: 1px solid #333;
  /*text-align: center;*/
  /*text-decoration: none;*/
}
.Teachers-name{
  text-align: left;
  padding-left: 10px;
}
/*==============css for #computer .Students====================*/
.students-list h1, h2{
      font-family: "Roboto Condensed", Arial, Helvetica, sans-serif;
}



/*############alimuni##################*/

.ban img{
  margin-top: 90px;
  height: 260px;
}
.it-club{
  font-size: 24px;
  padding-top: 30px;
  font-weight: 400;
}
/*############## end of alumni style##############*/


/*##################it club style###################*/
.content{
  font-size: 14px;
  text-align: justify;

}
.about{
  font-size: 20px;
  font-weight: 500;
}



/*About cpi*/

.history{width:711px;
         height:200px}

.rules{margin-top: 10px;}
table{width: 100%;
     border: 1px solid black}

.padma{text-align:center;
  border: 1px solid black}
th{text-align: center;
    border: 1px solid black }
    .hostelcapablity{margin-top:30px}
    .hostel{text-align: center;
            font-size: 40px;
            font-weight:bold;}
 .staff{width: 100%;
       height: 100%} 
       /*img{width: 100%;
           height:100%;} */       
      .clgstaff{text-align: center;
                font-size: 30px;
                 font-weight:bold;
                 color:#999999;}
         .para{margin-top: 10px}   



/*==========contact page=====*/
#contact{
  margin-top: 20px;
}
.contact-img img{
  width: 100%;
  height: 160px;
}
.input-name input ,.input-email input,.input-subject input{
    width: 100%;
    height: 27px;
}
.contact-email,.contact-name,.contact-subject,.contact-message,.message-button,.contact-Uplode{
  margin-top: 25px;
}
.text-message textarea{
  width: 100%;
  height:140px;

}
.form-heading h3{
  font-weight: bold;
}
.message-button a button{
  height: 30px;
  border: none;
  width: 120px;
  border-radius: 5px;
  background-color: #3df34e;
  color: #fff;
  float: left;
}
.message-button a button:hover{
  background-color: #ba275b;
  color: #fff;
  border: none;
  
}
.full-address,.official-number{
  border-bottom: 1px solid #ddd;
  padding-bottom: 15px;
  margin-top: 20px;
}
.official-email{
  margin-top: 15px;
}
.contact-form{
  border-right:1px solid #ddd;
  padding-right: 20px;

}

/*=============start of photo gallery=====*/
#photo-gallery{
  margin-top: 90px;
}
.portfolioFilter a { 
    margin-right: 10px; 
    color:#fff;
    text-decoration:none;
    
}
 
.portfolioFilter a.current { 
    font-weight:bold;
}
.portfolioFilter a.current button{
background: #4cae4c;
overflow: hidden;
color: #fff;
border: none;

}
.portfolioFilter a button{
    background-color: #030303;
    border: none;
    
}
.portfolioContainer img{
  margin-top:30px;
  height: 250px;
  width: 300px;
  padding-left: 20px;
  } 
 .all-Events-btn,.skill-competition-btn,.cricket-tournament-btn,.orientation-btn,.campus-btn,.others-btn{
  height: 40px;
  width: 224px;
  margin-top: 20px;
 }
 
/*img {
    margin:5px;
}*/
 
.isotope-item {
    z-index: 2;
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
 
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
}
.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    transition-property: height, width;
}
.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
}
  
  /*side var csss*/


.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
     border-top-right-radius: 4px; 
     border-bottom-right-radius: 4px; 
}

.message-title{
  background:#609513;
  color:#fff;
  width: 100%;
  height: 35px;
  font-size: 14px;
  text-align: center;
  margin-top: 55px;
  padding-top: 10px;
  }
.message-content{
  color:#000;
  font-size: 13px;
  width: 100%;
  margin-top: 10px;

}
.principle-image{
  width: 80px;
  height: 100px;
  border:2px solid #c0c0c0;
  float:left;
  margin-right: 10px;
}
.internal-e ul li{
  border-bottom:1px solid#000;
  width:70%;
  border-bottom-style: groove;
}
.internal-e i{
  font-size: 18px;
  font-weight: bold;
  
}
.internal-e li{
  font-size: 12px;
  font-weight: 300;

}


select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        
        padding-right: 20px;
}

.map{
  width: 100%;
  height: 250px;
  margin-top: 20px;

}
.see-hare a{
  float:right;
  color:#878788;
  margin-top: 20px;
}
.mapembed{
  margin-top: 55px;
}










